<table class="table table-borderless table-sm">
    <tbody>
        {% for tournament in player.tournaments%}
            <tr class="">
                <th>{{tournament.year}}</th>
                <td class="">
                    {{tournament.last_game.stage|capitalize}}<br>
                    
                    {% if tournament.last_game.stage != "gruppspel" %}
                        <small>
                            {% if tournament.last_game.stage == 'vinnare' %}
                                Efter final mot 

                            {% elif tournament.last_game.stage == 'final' %}
                                Förlust mot 

                            {% elif tournament.last_game.stage == 'bronsmatch' and tournament.last_game.is_winner %}
                                Vinst mot 

                            {% elif tournament.last_game.stage == 'bronsmatch' and not tournament.last_game.is_winner %}
                                Förlust mot 

                            {% else %}
                                Ut mot 
                            {% endif %}

                            <a href="{{url_for('player_index', player_slug=tournament.last_game.opponent_slug)}}">
                                {{tournament.last_game.opponent_name}}
                            </a>
                        <small>

                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </tbody>
</table>