{% extends 'base.html' %}

{% block title %}
  Bouleympiaden
{% endblock %}

{% block content %}

  <div class="jumbotron">
    <h1>Bouleympiaden</h1>
    <p class="lead">Matchsimulator och spelarranking</p>
  </div>

  <div class="card text-white bg-primary mb-3">
    <div class="card-header">Simulera en match</div>
    <div class="card-body">
      <h4 class="card-title">Vem vinner om...</h4>
      <p class="card-text">
        <select class="player form-control" id="player1">
          <option value="">Spelare 1</option>
          {% for player in players  %}
            <option value="{{player.name}}">{{player.name}}</option>
          {% endfor %}
        </select>

        <p>spelar mot</p>

        <select class="player form-control" id="player2">
          <option value="">Spelare 2</option>
          {% for player in players  %}
            <option value="{{player.name}}">{{player.name}}</option>
          {% endfor %}
          <option value="">...</option>
          <option value="Ny spelare">Ny spelare</option>
        </select>
      </p>
    </div>
  </div>


  <div id="loading" class="text-center" style="display:none;">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <h5>Simulerar matcher...</h5>
  </div>

  <div id="result-container" class="card bg-light mb-3" style="display:none;">
    <div class="card-body">
      <h4 class="card-title">Resultat</h4>
      <p class="card-text">
        <div id="result">
        </div>
      </p>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <h4 class="card-title">Resultat år för år</h4>
      <div class="card-text">
        {% include 'includes/year_selector.html' %}
    </div>
  </div>


  <div class="card bg-light mb-3">
    <div class="card-body">
      <h4 class="card-title mb-2">Spelarranking</h4>
      <div class="card-text">
        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Spelare</th>
              <th>Rankingpoäng</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for player in players|sort(attribute='skill', reverse = True)  %}

              <tr class="collapsed" data-toggle="collapse" href="#p{{loop.index}}" data-target="#p{{loop.index}}" aria-expanded="false" aria-controls="#p{{loop.index}}" onclick="none()">
                <th>{{player.skill_rank|int}}.</th>
                <td>
                  {{player.name}}
                </td>
                <td class="text-right">
                  {{player.skill|int}} p
                </td>
                <td>
                  <i class="fa fa-chevron-right collapsed-icon" style="padding-top: 4px;"></i>
                  <i class="fa fa-chevron-down uncollapsed-icon" style="padding-top: 4px;"></i>
                </td>
              </tr>
              <tr style="background-color:#f7f7f7;">
                <td colspan="4">
                  <div id="p{{loop.index}}" class="collapse">
                    {% include 'includes/player_stats_table.html' %}
                    
                    <a href="{{url_for('player_index', player_slug=player.slug)}}" type="button" class="btn btn-outline-primary">
                      Mer statistik 
                      <i class="fa fa-chevron-right" style="margin-left: 8px; padding-top: 4px;"></i>
                    </a>

                    <h5 class="mt-3">Rankinghistorik</h5>
                    <chart data-series="{{player.skill_history|tojson}}">
                    </chart>

                  </div>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <div class="card bg-light mb-3">
    <div class="card-body">
      <h4 class="card-title">FAQ</h4>
      <div class="card-text">
        <h5>Vad är Bouleympiaden</h5>
        <p>
          Bouleympiaden, eller Fredhälls Bouleympiska spel, är en oftast vänskaplig turnering i den ädla sporten boule. Spelens far och arrangör är Gabriel Nordenankar.
        </p>

        <h5>Hur funkar den här räknaren och rankingen?</h5>
        <p>
          Den bygger på algoritmen Trueskill som ursprungligen utvecklats av Microsoft för att ranka spelare i multiplayerspel.
          Varje ny spelare startar på 100 rankingpoäng. Poängen justeras för varje match. Vinner du en motståndare med hög ranking belönar algoritmen dig med många poäng. Förlorar du mot en spelare med låg ranking kostar det desto mer.
        </p>
        <p>
          Ju fler matcher en spelare gjort desto "säkrare" blir algoritmen på spelarens nivå.
        </p>

        <h5>Vem har gjort den här sajten?</h5>
        <p>Jens Finnäs, som är bättre på att koda statistiska modeller än att spela boule.</p>
      </div>
    </div>
  </div>
{% endblock %}
