<!doctype html>
<!DOCTYPE html>
<html lang="sv" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bouleympiaden: Matchsimulator</title>
    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>

    {{ JSGlue.include() }}
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/journal/bootstrap.min.css" rel="stylesheet" integrity="sha384-ciphE0NCAlD2/N6NUApXAN2dAs/vcSAOTzyE202jJx3oS8n4tAQezRgnlHqcJ59C" crossorigin="anonymous">

    <style>
      /*
      .jumbotron {
        background-image: url("{{ url_for('static', filename='img/bouleballs.jpg') }}");
        background-size: cover;
        color: white;
        text-shadow:
          -1px -1px 1px #424141,
           1px -1px 1px #424141,
          -1px  1px 1px #424141,
           1px  1px 1px #424141;
      }*/
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
  </head>
  <body>
      <div class="jumbotron">
        <!--
        <img src="{{ url_for('static', filename='img/bouleballs.jpg') }}" alt="">
      -->
        <h1>Bouleympiaden</h1>
        <p class="lead">Din digitala matchsimulator</p>
      </div>
      <div class="card text-white bg-primary mb-3">
        <div class="card-header">Simulera en match</div>
        <div class="card-body">
          <h4 class="card-title">Vem vinner om...</h4>
          <p class="card-text">
            <select class="player form-control" id="player1">
              <option value="">Spelare 1</option>
              {% for player in players  %}
              <option value="{{player}}">{{player}}</option>
              {% endfor %}
            </select>

            <p>spelar mot</p>

            <select class="player form-control" id="player2">
              <option value="">Spelare 2</option>
              {% for player in players  %}
              <option value="{{player}}">{{player}}</option>
              {% endfor %}
              <option value="">...</option>
              <option value="Ny spelare">Ny spelare</option>
            </select>
          </p>
        </div>
      </div>


      <div id="loading" class="text-center" style="display:none;">
          <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
          </div>
          <h5>Simulerar matcher...</h5>
      </div>

      <div id="result-container" class="card border-light mb-3" style="display:none;">
        <div class="card-body">
          <h4 class="card-title">Resultat</h4>
          <p class="card-text">
            <div id="result">
            </div>
          </p>
        </div>
      </div>

      <div id="result-container" class="card border-light mb-3">
        <div class="card-body">
          <h4 class="card-title">FAQ</h4>
          <p class="card-text">
            <h5>Vad är Bouleympiaden</h5>
            <p>
              Bouleympiaden, eller Fredhälls Bouleympiska spel, är en oftast vänskaplig turnering i den ädla sporten boule. Spelens far och arrangör är Gabriel Nordenankar.
            </p>

            <h5>Hur funkar den här räknaren?</h5>
            <p>
              Den här räknaren bygger på en statistisk modell som simulerar matchutfall utgående från historiska resultat.
            </p>
            <p>
              Steg ett är att försöka uppskatta varje spelares nivå. Baserat på hur stor andel av matchpoängen varje spelare fått, samt nivån på motspelarna räknar vi ut en förväntad "skill". Ju fler år en spelare varit med, desto säkrare blir modellen på om spelaren är bra eller dålig. En ny spelare antas vara medelbra, men modellen öppnar också för att det finns en liten chans att hen är väldigt bra eller dålig.
            </p>
            <p>
              <a href="https://github.com/jensfinnas/bouleompiaden/blob/master/Boule%20prediction.ipynb">Läs mer om hur modellen fungerar här.</a>
            </p>

            <h5>Vem har gjort den här sajten?</h5>
            <p>Jens Finnäs, som är bättre på att koda statistiska modeller än att spela boule.</p>
          </p>
        </div>
      </div>

      <script type="text/javascript">
        var $player1 = $("#player1");
        var $player2 = $("#player2");
        var $result = $("#result");
        var $resultContainer = $("#result-container");
        var $loading = $("#loading");

        $("#player1,#player2").change(function() {
          var p1 = $player1.val();
          var p2 = $player2.val();
          window.location.hash = p1 + "-vs-" + p2;
        })

        $(window).bind('hashchange', function(e) {
          var players = decodeURIComponent(window.location.hash.replace("#","")).split("-vs-");
          var p1 = players[0];
          var p2 = players[1];
          $player1.val(p1);
          $player2.val(p2);
          if (p1 != "" && p2 != "") {
            simulate(p1, p2, function(err, resp) {
              $resultContainer.show();
              $result.html(resp);
            })
          }
        });

        if (window.location.hash) {
          $(window).trigger('hashchange')
        }

        function simulate(p1, p2, callback) {
          $loading.show()
          $resultContainer.hide()

          var url = Flask.url_for("simulate", { //"/dev" + Flask.url_for("simulate", {
            "fmt": "html",
            "player1": p1,
            "player2": p2,
          })
          $.get(url, function(resp) {
            $loading.hide()
            callback(null, resp)
          })
          .fail(function(err) {
            $loading.hide()
            callback(err)
          })
        }
      </script>
  </body>
</html>
