{% extends 'base.html' %}

{% block title %}
  Bouleympiaden: {{player.name}}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>{{player.name}}</h1>
    <p class="lead">
        Rankad {{player.skill_rank|int}} av {{n_players}} spelare
    </p>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
      {% include 'includes/player_stats_table.html' %}
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
      <h4 class="card-title mb-2">Rankinghistorik</h4>
      {% include 'includes/player_rank_history_chart.html' %}
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
      <h4 class="card-title mb-2">Turneringar</h4>
      {% include 'includes/player_tournaments.html' %}
  </div>
</div>

{% include 'includes/card_year_selector.html' %}


{% endblock %}

{% block js %}
<script>
    var $chart = $("chart")
    initChart($chart)    
</script>
{% endblock %}
