{% extends 'base.html' %}

{% block title %}
  Bouleympiaden: {{tournament.year}}
{% endblock %}

{% block content %}

<div class="jumbotron">
    <h1>Bouleympiaden: {{tournament.year}}</h1>

    <p class="lead margin-top-10">
        <strong>Guld:</strong> XXX</br>
        <strong>Silver:</strong> XXX</br>
        <strong>Brons:</strong> XXX</br>

    </p>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title mb-2">Slutspelet</h4>

    {% for stage in tournament.playoff %}
      <h5>{{stage.stage|capitalize}}</h5>

      <table class="table table-striped">
        {% for game in stage.games %}
          <tr>
            <td class="text-right">
              <a href="{{url_for('player_index', player_slug=game.p1_name|slugify)}}"
                class="{% if game.winner == 'p1' %}underline-primary{% endif %}">
                {{game.p1_name}}
              </a>          
            </td>
            <td class="text-center">
              {{game.p1_score}}&nbsp;&#8209;&nbsp;{{game.p2_score}}
            </td>
            <td>
              <a href="{{url_for('player_index', player_slug=game.p2_name|slugify)}}"
                 class="{% if game.winner == 'p2' %}underline-primary{% endif %}">
                {{game.p2_name}}
              </a>          

            </td>
          </tr>
          
        {% endfor %}
  
      </table>
    
    {% endfor %}

  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title mb-2">Överpresterande spelare</h4>
    <p>
      För varje spelare räknar vi ut en <strong>prestationspoäng</strong> för hela turneringen enligt följande:
    </p>
    <p class="text-small">
      <samp>
      + Motståndarens vinstchans i de matcher spelaren vunnit<br>
      – Spelaren egen vinstchans i förlustmatcher<br>
      / Antal matcher
      </samp>
    </p>
    <p>Segrar mot svåra motståndare ger höga poäng. Förluster mot lätta motståndare ger stora avdrag.</p>

    <table class="table table-striped">
      <thead>
        <th>Spelare</th>
        <th>Prestations-<br>poäng</th>
      </thead> 
      <tbody>
        {% for player in  tournament.top_performers %}
            <tr>
              <td>
                <a href="{{url_for('player_index', player_slug=player.name|slugify)}}">
                  {{player.name}}
                </a>
              </td>
              <td class="text-right">
                {{(player.performance*100)|int}} p
              </td>
            </tr>
        {% endfor %}
      </tbody> 
    </table>
  </div>
</div>

<div class="card bg-light mb-3">
  <div class="card-body">
    <h4 class="card-title">Största skrällmatcherna</h4>
    <div class="card-text">
      <p>
        Matcher där spelare vann mot allra svåraste odds.
      </p>

      <table class="table table-striped">
      <thead>
        <tr>
          <th>Match</th>
          <th>Vinstchans</th>
        </tr>

      </thead>
        <tbody>
          {% for game in tournament.top_low_prob_winners %}
            <tr>
              <td>
                <a href="{{url_for('player_index', player_slug=game.winner_name|slugify)}}">
                  {{game.winner_name|genitive}} 
                </a>
                vinst över 
                <a href="{{url_for('player_index', player_slug=game.loser_name|slugify)}}">
                  {{game.loser_name}} 
                </a> 
                <small>
                  ({{game.stage}})
                </small>
              </td>
              <td class="text-right">
                {{(game.winner_win_prob*100)|round|int}} %
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>


{% include 'includes/card_year_selector.html' %}
  

{% endblock %}
